/*Inizio Classi di Layout*/

body{
    background-color: yellow;
    font-family: lato;
    height: 100vh;
    display: flex;
}

.container{
    width: 100%;
    display: flex;
    background-color: lightblue;
}

header{
    background-color: #EAEAEA;
    height: 70px;
    flex-shrink: 0;
}

.sidebar{
    display: none;
    background-color: chocolate;
}

.content{
    background-color: darkviolet;
    flex-grow: 1;
}

.conversations{
    height: calc(100% - 140px);
    overflow-y: auto;
}

footer.messaggi {
    background-color: red;
    height: 70px;
    flex-shrink: 0;
}



/*Fine Classi di Layout*/
