/*Inizio Classi di Layout*/

body{
    font-family: lato;
    height: 100vh;
    display: flex;
}

.container{
    width: 100%;
    display: flex;
    background-color: lightblue;
}

header{
    height: 70px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-menu{
    color: #B1B1B1;
}


.bell-content{
    border: none;

}

.io{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.io img{
    width: 100%;
    border-radius: 50%;
    margin-left: 10px;
}

.io i{

}

.notifiche{
    display: flex;
    flex-direction: row;

}

.ricerca{
    display: flex;
    flex-direction: row;
}

.container-ricerca{
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}


.ricerca i{
    width: 30%;
}

.ricerca input{
    width: 70%;
}

i{
    width: 30px;
}

.sidebar{
    display: none;
    background-color: chocolate;
}

.content{
    background-color: darkviolet;
    flex-grow: 1;
}



.conversations{
    height: calc(100% - 140px);
    overflow-y: auto;
    background-image: url( ../../img/mine.jpg)
}

.conversations-lg{
    max-width: 80%;
    margin: 0 auto;
    height: 100px;

}

.row{
    display: flex;
}

.convesations-left{
    width: 40%;

}

.convesations-right{
    width: 60%;
}


.convesations-right-1{
    width: 60%;
}
.convesations-left-1{
    width: 40%;
}





footer.messaggi {
    background-color: #F3EEEB;
    height: 70px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.smile{
    color: #6B7376;
    margin-left: 10px;
    width: 10%;
}

.testo{
    width: 80%;
}

.testo input {
    border: none;
}

.audio{
    color: #6B7376;
    width: 10%;
}



/*Fine Classi di Layout*/
