/*Inizio Responsive Desktop*/
@media screen and (min-width: 992px) {

    body{
        background-color: khaki
    }

    .container{
        background-color: green;
        width: 80%;
        height: 90%;
        margin: auto;
    }

    .sidebar{
        width: 350px;
    }
    .notifiche{
        background-color: #8FDAFC;
        display: block;
    }

    .ricerca{
        background-color: yellow;
        display: block;
    }
    
}
/*Fine Responsive Desktop*/