/*Inizio Responsive tablet*/

@media screen and (min-width: 576px) {
    body {
        background-color: darkgray;
    }

    .sidebar{
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        overflow: hidden;
    }



    .notifiche{
        display: none;
    }

    .ricerca{
        display: none;
    }

    .chat{
        background-color: lightgreen;
        overflow-y: auto;
    }

}

/*Fine Responsive tablet*/