/*Inizio Responsive tablet*/

@media screen and (min-width: 576px) {
    body {
        background-color: darkgray;
    }

    .sidebar{
        display: block;
        flex-shrink: 0;
    }

}

/*Fine Responsive tablet*/