/*Inizio Responsive Desktop*/
@media screen and (min-width: 992px) {

    body{
        background-color: khaki
    }

    .container{
        background-color: green;
        width: 80%;
        height: 90%;
        margin: auto;
    }

    .sidebar{
        width: 350px;
    }

    .sidebar .header-menu{
        display: block;
    }

    .smile{
        display: inline-block;
    }

    .audio{
        display: inline-block;
    }


    header .utente{
        display: block;
    }
    .notifiche{
        background-color: #8FDAFC;
        display: block;
    }

    .ricerca{
        display: block;
    }

    .header-menu i{
        display: inline-block;
    }
    
}
/*Fine Responsive Desktop*/