/*Inizio Responsive tablet*/

@media screen and (min-width: 576px) {
    body {
    
    }

    .sidebar{
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        overflow: hidden;
    }

    .sidebar .header-menu{
        display: none;
    }


    header .utente{
        display: none;
    }

    .chat li header .io{
        display: flex;
       justify-content: center;
    }

    .smile{
        display: inline-block;
    }

    .audio{
        display: inline-block;
    }



    .notifiche{
        display: none;
    }

    .ricerca{
        display: none;
    }

    .chat{
        background-color: lightgreen;
        overflow-y: auto;
        max-height: 600px;
    }

    #chat-left{
        margin-top: 40px;
    
    }

    .header-menu i{
        display: inline-block;
    }

}

/*Fine Responsive tablet*/